{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clientcare</title>

  <!-- Custom fonts for this template-->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static  'image/favicon.ico' %}">
  <link href="{% static  'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body style="background-image: url('{% static 'image/bg.jpg' %}');
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center center;"
     class="bg-gradient-primary">

     <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="{% static 'image/logo.png' %}" id="icon" alt="User Icon" />
          {% comment %} <h1>ClientCare</h1> {% endcomment %}
        </div>
        <br/>
        <!-- Login Form -->
        <form class="user" method="post">
          {% csrf_token %}
          <input type="text" id="login" class="fadeIn second" name="username" placeholder="username" >
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
          </div>
      {% endif %}
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="https://www.facebook.com/bin.nhok.9674/">Contact If you don't have account</a>
        </div>
      </div>
    </div>
 <!-- Bootstrap core JavaScript-->
 <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

 <!-- Core plugin JavaScript-->
 <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

 <!-- Custom scripts for all pages-->
 <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

 <!-- Page level plugins -->
 <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

 <!-- Page level custom scripts -->
 <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
 <script src="{%static 'js/demo/chart-pie-demo.js' %}"></script>
</body>
